@import "./components/navbar/navbar.scss";
@import "./components//content/content-left/left.scss";
@import "./components//content/content-right/right.scss";

.main {
    display: flex;
    flex-direction: column;

    &-content {
        display: flex;
    }
}

.line {
    position: fixed;
    opacity: 1;
    font-size: 40px;
    font-weight: 600;
    top: 80%;
    padding-left: 44%;
    color: #121212;
    border-bottom: 1px dashed #121212;
    width: 100%;
}

.not-line {
    display: none;
}

@media screen and (max-width: 462px) {
    .line {
        top: 90%;
        padding-left: 28%;
        font-size: 30px;
    }
}