@import "./App.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

body {
    overflow-x: hidden;
    background-image: url("./assets/old-paper.jpeg");
}