.right {
    width: 50%;

    &-item {
        height: 500px;
        margin-left: 5px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;

        &-text {
            color: white;
            width: 50%;

            ul {
                height: 20%;
            }
            li {
                width: 100%;
            }
        }

        &-img {
            width: 50%;
            height: fit-content;
    
            img {
                width: 100%;
            }
        }
    }

}