.navbar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
        padding: 50px;
        // color: rgb(166, 171, 184);
        color: white;
        font-size: 64px;
    }
}