.navbar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        color: #121212;
        font-size: 32px;
    }
}

@media screen and (max-width: 462px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-title {
            padding: 25px;
            font-size: 10px;
        }

        img {
            width: 250px;
        }
    }
}